################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/SFManagement/.vs
/SFManagement/bin/Debug/net7.0
/SFManagement/obj
/.vs/SF_management/v17
/SFManagement/bin/Debug/net8.0
/.vs/VSWorkspaceState.json
/bin/Debug/net8.0
/.vs
/obj
/.github/.vs
/bin/
.idea
