################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# Visual Studio
/.vs
/SFManagement/.vs
/.vs/SF_management/v17
/.vs/VSWorkspaceState.json
/.github/.vs

# Build outputs
/bin/
/obj/
/SFManagement/bin/
/SFManagement/obj/

# User-specific files
*.user
*.DotSettings.user

# Test artifacts
**/TestResults/
**/coverage/

# IDE
.idea

# Logs
/logs

# macOS
.DS_Store
**/.DS_Store
